# Kamal v2 deployment configuration for replicant-server
# Copy to config/deploy.yml and fill in values from .kamal/secrets
# See: https://kamal-deploy.org/docs/configuration

service: replicant-server

image: <%= ENV['REGISTRY_URL'] %>/replicant-server

servers:
  web:
    hosts:
      - <%= ENV['SERVER_IP'] %>

proxy:
  ssl: true
  host: <%= ENV['APP_HOST'] %>
  app_port: 4000
  healthcheck:
    path: /health
    interval: 3

registry:
  server: registry.digitalocean.com
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    PORT: "4000"
  secret:
    - DATABASE_URL
    - SECRET_KEY_BASE
    - PHX_HOST

builder:
  arch: amd64
  remote: ssh://root@<%= ENV['SERVER_IP'] %>

ssh:
  user: root

accessories:
  db:
    image: postgres:16
    host: <%= ENV['SERVER_IP'] %>
    env:
      clear:
        POSTGRES_DB: replicant_server_prod
        POSTGRES_USER: replicant
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
